.numbers-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}

.numbers-section .percentages {
  font-size: 2em;
  color: #18EA24; 
  text-align: center;
  font-weight: 800;
  padding-bottom: .75em;
}

.numbers-section div p {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}

@media only screen and (max-width: 560px) {
    .numbers-section {
        flex-direction: column;
        gap: 1em;
    }

    .numbers-section div p {
        font-size: 1.15em;
        font-weight: 600;
    }

    .numbers-section div div {
        display: flex;
        gap: .5em;
        justify-content: center;
    }
}